h1 {
  font-size: 2.25em;
  font-weight: bold;
  color: #333333;
  margin-bottom: 0.75em;
}

h2 {
  font-size: 1.25em;
  margin: 2em auto 1em;
  /*text-align: center;*/
  font-weight: bold;
}

.subtitle {
  font-size: 1.5em;
  color: #545454;
}

.subtitle svg {
  fill: #b2b9c9;
}

.menu a {
  color: #0e0e0e;
}

.menu a:hover {
  color: #324c66;
}

.top-text {
  margin: 3em auto 1em;
  font-size: 2em;
  font-weight: bold;
}

.card img {
  object-fit: cover;
  height: 225px;
}

.footer a svg {
  margin-right: 10px;
}

.footer a svg:hover {
  fill: #324c66;
}
