h1 {
  font-size: 2.25em;
  font-weight: bold;
  color: #333333;
  margin-bottom: 0.75em;
}

h2 {
  font-size: 1.25em;
  margin: 2em auto 1em;
  /*text-align: center;*/
  font-weight: bold;
}

.subtitle {
  font-size: 1.5em;
  color: #545454;
}

.subtitle svg {
  fill: #b2b9c9;
}

.menu a {
  color: #0e0e0e;
}

.menu a:hover {
  color: #324c66;
}

.top-text {
  margin: 3em auto 1em;
  font-size: 2em;
  font-weight: bold;
}

.card img {
  object-fit: cover;
  height: 225px;
}

.footer a svg {
  margin-right: 10px;
}

.footer a svg:hover {
  fill: #324c66;
}

.case-study {
  background-image: url('../images/case_study.jpg');
}

.title-bar {
  background: #fff;
  color: #000;
}

.title-bar-left, .top-bar-left, .top-bar-right {
  padding: 0 0.5rem;
}

@media screen and (max-width: 40em) {
  .top-bar-left {
    display: none;
  }

  .top-bar-right ul {
    float: none;
    text-align: center;
    display: block;
    padding: 0;
    margin: 0;
  }
  .menu .is-active > a {
    box-shadow: 0px 0px 0px;
  }
}
