// grid for page
.container {
  display: grid;
  width: 100%;
  @include mq(lg) {
    height: 95vh;
    padding-top: 50px;
    grid-template-columns: 240px 1fr;
    grid-gap: 25px;
  }
}

.column {
  width: 100%;
  padding: 0 3%;
}

// left column
.left {
  margin-bottom: 4.5rem;
  @include mq(med) {
    margin-bottom: 2rem;
  }
  @include mq(lg) {
    margin-bottom: 0;
    padding-left: 10%;
    padding-right: 2.5%;
  }
  @include mq(lg) {
    padding-left: 20%;
  }
}

// main column

.main {
  @include mq(lg) {
    padding-top: 0;
    padding-left: 2.5%;
    padding-right: 5%;
    overflow-y: auto;
  }
  @include mq(lg) {
    @include flex;
  }
  @include mq(xl) {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  img {
    max-width: 100%;
  }
}
