// bold menu link for current page
.menu {
  text-align: center;
  list-style-type: none;
  padding: 0;
  @include mq(lg) {
    text-align: left;
  }
  li {
    display: inline-block;
    margin: 0 5px;
    font-size: 1.25rem;
    @include mq(lg) {
      margin: 3rem 0 0;
      font-size: 1rem;
      display: block;
      line-height: 200%;
      margin: 0;
    }
    a {
      color: $color-text;
    }
  }
  .is-active > a {
    color: $color-text-darker;
    font-weight: 600;
    border-bottom: 4px solid $color-accent;
    @include mq(lg) {
      border-bottom: none;
    }
  }
}

// contact icons
.contact {
  margin: 50px 0 100px;
  text-align: center;
  @include mq(lg) {
    text-align: left;
    margin: 30px 0 60px;
  }
  a {
    border-bottom: none;
    i {
      fill: $color-text-darker;
      margin: 0 5px;
      @include mq(lg) {
        margin-left: 0;
        margin-right: 10px;
      }
      // &:hover {
      //   opacity: 1;
      // }
    }
  }
}

.fade {
  opacity: 0.7;
}

.profile img {
  width: 40px;
  padding-top: 75px;
  padding-bottom: 20px;
  margin: auto;
  display: block;
  @include mq(lg) {
    width: 3rem;
    margin: 0 0;
    padding-top: 0;
    padding-bottom: 4rem;
  }
}

.profile p {
  font-family: $mono;
  color: $color-text-lighter-2;
  text-align: center;
  font-size: 1.25rem;
  line-height: 125%;
  margin: 0.375em 1.25em;
  @include mq(lg) {
    margin: 0.125em 0;
    text-align: left;
    font-size: 1.125rem;
  }
}

.profile p:first-of-type {
  font-family: $sans-serif;
  color: $color-text-darker;
  font-weight: 600;
  font-size: 2rem;
  @include mq(lg) {
    font-size: 1.5rem;
    margin-bottom: 2em;
  }
}
