// use border-box for everything
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// set font styles
body {
  font-family: $sans-serif;
  color: $color-text;
  font-size: 1.125rem;
}

// h1 - use for page titles
h1 {
  font-family: $sans-serif;
  color: $color-primary;
  font-size: 1.25rem;
  margin: 0 auto 1rem;
  font-weight: 700;
}

h2 {
  margin-top: 2rem;
  color: $color-text-darker;
}

.subtitle {
  font-family: $mono;
  color: $color-text-lighter-1;
  font-size: 1rem;
  padding-bottom: 15px;
}

// additional font styles

.f1 {
  font-size: 1.25rem;
  margin-top: 0;
}

.f2 {
  font-family: $mono;
  color: $color-text-lighter-1;
  font-size: 0.9375rem;
  margin: 0 0 0.5rem;
}

.f3 {
  font-size: 0.75rem;
}

.f4 {
  font-size: 1rem;
  color: $color-text-darker;
  font-family: $sans-serif;
  margin: 0 0 1rem;
}

.f5 {
  font-size: 1rem;
  color: $color-text-lighter-1;
  font-family: $sans-serif;
}

.caption {
  font-size: 0.875rem;
  color: $color-text-lighter-2;
}

.b {
  font-weight: 700;
}

.b-mono {
  font-weight: 700;
}

// set link styles
a {
  text-decoration: none;
  border-bottom: 1px solid $color-text-darker;
  color: darken($color-text-darker, 25%);
  &:hover {
    color: $color-accent;
    border-bottom-color: $color-accent;
  }
}

.link {
  display: inline;
  position: relative;
  overflow: hidden;
  border-bottom: none;
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -2px;
    background: $color-accent;
    height: 4px;
    transition-property: left right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  &:hover:after,
  &:focus:after,
  &:active:after {
    right: 0;
  }
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
